* {background-color: #1C1A20;
}

#header1 {
    
    color: #FAFAFA ;
    padding: 40px;
    text-align: center;
}

#paragraph1 {
    color: #FAFAFA;
    text-align: center;
}

#image {
    text-align: center;
}

#paragraph1 {
    text-align: center;
}
#nav {
    text-align: center;
     color: aquamarine;
}
#marigold {
    text-align: center;
}
#marigoldparagraph {
    text-align: center;
    color: #FAFAFA;
}

#cosmosparagraph {
    text-align: center;
    color: #FAFAFA;
}

#forgetmenot {
    text-align: center;
    color: #FAFAFA;
}
.p1 {
    text-align: center;
    color: #FAFAFA;
    font-size: 18px;

}

ul li {
    list-style: none;
    font-size: 24px;
    margin: 0;
    padding: 0;
}